body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}

.content {
    max-width: 500px;
    margin: auto;
}

h1{
    color: darkblue;
}

h2{ 
    color: blue;
}

p{
    color: darkslateblue;
}

li {
    list-style-type: none;
}

label {
    font-size: 20px;
    color: darkcyan;
    width: 150px;
    display: inline-block;
}

img {
    width: 300px;
    height: 400px;
}  

textarea {
    font-size: 20px;
}